<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>VoiceCloneMemo</string>
    <key>CFBundleIdentifier</key>
    <string>com.pixeldrop.voiceclonememo</string>
    <key>CFBundleName</key>
    <string>VoiceCloneMemo</string>
    <key>CFBundleDisplayName</key>
    <string>Voice Clone Memo</string>
    <key>CFBundleVersion</key>
    <string>7.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>7.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>Voice Clone Memo a besoin du micro pour enregistrer ta voix et la cloner.</string>
</dict>
</plist>
